/* line 2, ../scss/lib/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 17, ../scss/lib/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 23, ../scss/lib/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 29, ../scss/lib/_normalize.scss */
[hidden] {
  display: none;
}

/* line 34, ../scss/lib/_normalize.scss */
html {
  background: #fff;
  /* 1 */
  color: #000;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
}

/* line 43, ../scss/lib/_normalize.scss */
body {
  margin: 0;
}

/* line 48, ../scss/lib/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 52, ../scss/lib/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 57, ../scss/lib/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 62, ../scss/lib/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 66, ../scss/lib/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 71, ../scss/lib/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 75, ../scss/lib/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 81, ../scss/lib/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 86, ../scss/lib/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 94, ../scss/lib/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/* line 98, ../scss/lib/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 102, ../scss/lib/_normalize.scss */
small {
  font-size: 80%;
}

/* line 106, ../scss/lib/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 114, ../scss/lib/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 118, ../scss/lib/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 122, ../scss/lib/_normalize.scss */
img {
  border: 0;
}

/* line 126, ../scss/lib/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 130, ../scss/lib/_normalize.scss */
figure {
  margin: 0;
}

/* line 134, ../scss/lib/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 140, ../scss/lib/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* line 145, ../scss/lib/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/* line 154, ../scss/lib/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 159, ../scss/lib/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 164, ../scss/lib/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/* line 172, ../scss/lib/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 177, ../scss/lib/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/* line 183, ../scss/lib/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/* line 190, ../scss/lib/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 195, ../scss/lib/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 201, ../scss/lib/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* line 206, ../scss/lib/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 20, ../scss/lib/_zeen.scss */
img {
  height: auto;
  max-width: 100%;
}

/* line 25, ../scss/lib/_zeen.scss */
.bungkus {
  padding: 0 15px;
  position: relative;
  *zoom: 1;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.bungkus:after {
  content: "";
  display: table;
  clear: both;
}

/* line 33, ../scss/lib/_zeen.scss */
.baris {
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-width: 978px;
  *zoom: 1;
}
/* line 38, ../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.baris:after {
  content: "";
  display: table;
  clear: both;
}

/* line 46, ../scss/lib/_zeen.scss */
[class*="zeen"] {
  float: left;
  display: inline;
  min-height: 1px;
  position: relative;
  margin-left: 3.09091%;
}
/* line 54, ../scss/lib/_zeen.scss */
[class*="zeen"]:first-child {
  margin-left: 0;
}

/* line 60, ../scss/lib/_zeen.scss */
.zeen-1 {
  width: 5.5%;
}

/* line 60, ../scss/lib/_zeen.scss */
.zeen-2 {
  width: 14.09091%;
}

/* line 60, ../scss/lib/_zeen.scss */
.zeen-3 {
  width: 22.68182%;
}

/* line 60, ../scss/lib/_zeen.scss */
.zeen-4 {
  width: 31.27273%;
}

/* line 60, ../scss/lib/_zeen.scss */
.zeen-5 {
  width: 39.86364%;
}

/* line 60, ../scss/lib/_zeen.scss */
.zeen-6 {
  width: 48.45455%;
}

/* line 60, ../scss/lib/_zeen.scss */
.zeen-7 {
  width: 57.04545%;
}

/* line 60, ../scss/lib/_zeen.scss */
.zeen-8 {
  width: 65.63636%;
}

/* line 60, ../scss/lib/_zeen.scss */
.zeen-9 {
  width: 74.22727%;
}

/* line 60, ../scss/lib/_zeen.scss */
.zeen-10 {
  width: 82.81818%;
}

/* line 60, ../scss/lib/_zeen.scss */
.zeen-11 {
  width: 91.40909%;
}

/* line 60, ../scss/lib/_zeen.scss */
.zeen-12 {
  width: 100%;
}

/* line 1, ../scss/style/_general.scss */
body {
  font-family: 'arial', sans-serif;
  font-size: 13px;
  font-weight: 300;
}

/* line 8, ../scss/style/_general.scss */
h1, h2, h3, h4, a, ul, li, p {
  margin: 0;
  padding: 0;
  display: block;
}

/* line 20, ../scss/style/_general.scss */
h2 {
  font-size: 18px;
}

/* line 24, ../scss/style/_general.scss */
h3 {
  font-size: 16px;
}

/* line 28, ../scss/style/_general.scss */
h4 {
  font-size: 13px;
}

/* line 33, ../scss/style/_general.scss */
article h2 {
  letter-spacing: -0.5px;
}

/* line 38, ../scss/style/_general.scss */
a {
  color: #ffffff;
  font-size: 13px;
  text-decoration: none;
}

/* line 45, ../scss/style/_general.scss */
li {
  list-style: none;
}

/* line 49, ../scss/style/_general.scss */
ul, li {
  display: block;
}

/* line 53, ../scss/style/_general.scss */
p {
  text-align: justify;
  font-size: 14px;
  line-height: 1.5em;
}

/* line 16, ../scss/style.scss */
table {
  font-size: 13px;
  color: inherit;
  font-weight: bold;
}
/* line 18, ../scss/style.scss */
table td {
  height: 20px;
}

/* line 25, ../scss/style.scss */
header {
  padding: 15px 0;
}

/* line 29, ../scss/style.scss */
#menu-icon {
  margin: 25px 0;
}
/* line 31, ../scss/style.scss */
#menu-icon a {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  display: block;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  background: #6db025;
  padding: 10px 5px 40px 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 48, ../scss/style.scss */
#menu-icon a span {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 5px 5px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  background: #3a9c53;
}
/* line 59, ../scss/style.scss */
#menu-icon a:hover {
  background: #3a9c53;
}
/* line 61, ../scss/style.scss */
#menu-icon a:hover span {
  background: #6db025;
}

/* line 73, ../scss/style.scss */
nav {
  color: #ffffff;
  background: #3a9c53;
  border-bottom: #ec8621 solid 5px;
}
/* line 78, ../scss/style.scss */
nav ul {
  display: block;
}
/* line 80, ../scss/style.scss */
nav ul li {
  list-style: none;
}
/* line 83, ../scss/style.scss */
nav ul li a {
  color: #ffffff;
  padding: 20px 15px;
  text-decoration: none;
  display: inline-table;
  float: left;
}
/* line 91, ../scss/style.scss */
nav ul li a:hover {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background: #ec8621;
}

/* line 103, ../scss/style.scss */
section img.thumb {
  float: left;
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 15px 15px 0;
}
/* line 112, ../scss/style.scss */
section article {
  overflow: hidden;
  margin-bottom: 20px;
  border-bottom: dashed 1px #e1e1e1;
}
/* line 117, ../scss/style.scss */
section article p {
  margin: 15px 0;
}
/* line 123, ../scss/style.scss */
section article h2.judul-berita a {
  margin: 0;
  color: #3a9c53;
  font-size: 1em;
}
/* line 128, ../scss/style.scss */
section article h2.judul-berita a:hover {
  text-decoration: underline;
}
/* line 134, ../scss/style.scss */
section article h4 {
  color: #727272;
  margin: 0;
  font-weight: normal;
}
/* line 140, ../scss/style.scss */
section article a {
  margin-bottom: 10px;
}
/* line 142, ../scss/style.scss */
section article a.tombol {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #ec8621;
  padding: 5px 10px;
  font-style: italic;
  float: right;
}
/* line 11, ../scss/helper/_mixin.scss */
section article a.tombol:hover {
  background: #c96d11;
}

/* line 152, ../scss/style.scss */
.box {
  padding-top: 10px;
  border-top: solid 8px #eee;
  background: #ffffff;
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 159, ../scss/style.scss */
.box#testi {
  background: url('../img/quote.png?1419209667') 0px 20px no-repeat;
}
/* line 161, ../scss/style.scss */
.box#testi p {
  text-align: left;
  font-style: italic;
  margin-bottom: 10px;
}
/* line 165, ../scss/style.scss */
.box#testi p span {
  display: block;
  font-weight: bold;
  font-style: normal;
  color: #a12a2a;
}
/* line 173, ../scss/style.scss */
.box#testi a {
  font-weight: normal;
}
/* line 178, ../scss/style.scss */
.box article {
  margin: 0;
  display: block;
}
/* line 186, ../scss/style.scss */
.box article h4 {
  color: #a12a2a;
  float: left;
  display: block;
}
/* line 194, ../scss/style.scss */
.box article p {
  margin-bottom: 10px;
  width: 100%;
  float: left;
  display: block;
}
/* line 202, ../scss/style.scss */
.box h2 {
  top: -6px;
  padding-right: 10px;
  color: #3a9c53;
  display: block;
  position: absolute;
  background: #ffffff;
  float: left;
}
/* line 212, ../scss/style.scss */
.box a {
  color: #3a9c53;
  font-weight: bold;
  float: right;
}
/* line 219, ../scss/style.scss */
.box a:hover {
  text-decoration: underline;
}
/* line 224, ../scss/style.scss */
.box table {
  color: #444;
  font-weight: normal;
  font-style: 14px;
}

/* line 233, ../scss/style.scss */
#footeratas {
  padding: 20px 0;
  color: #e6e6e6;
  background: #2a2a2a;
  margin-top: 20px;
}
/* line 242, ../scss/style.scss */
#footeratas li a {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  display: block;
  line-height: 1.5em;
  font-size: 14px;
  color: #e6e6e6;
}
/* line 248, ../scss/style.scss */
#footeratas li a:hover {
  color: #ec8621;
}

/* line 256, ../scss/style.scss */
#footerbawah {
  background: #6db025;
  padding: 10px 0;
  color: #ffffff;
}

/* line 263, ../scss/style.scss */
#kontak h2 {
  font-size: 18px;
}
/* line 267, ../scss/style.scss */
#kontak h1 {
  font-size: 30px;
}

/* line 275, ../scss/style.scss */
.kotak-satu {
  background: #ffffff;
  padding: 0 0 15px 0;
  overflow: hidden;
  display: block;
}
/* line 22, ../scss/helper/_mixin.scss */
.kotak-satu ul {
  margin-top: 10px;
}
/* line 24, ../scss/helper/_mixin.scss */
.kotak-satu ul li {
  line-height: 20px;
}
/* line 26, ../scss/helper/_mixin.scss */
.kotak-satu ul li a {
  color: #444;
  display: inline-table;
}
/* line 277, ../scss/style.scss */
.kotak-satu h2 {
  color: #ffffff;
  text-align: center;
  padding: 10px;
  background: #3a9c53;
}
/* line 285, ../scss/style.scss */
.kotak-satu li a:hover {
  color: #3a9c53;
}

/* line 290, ../scss/style.scss */
.kotak-dua {
  background: #fafafa;
  padding: 15px;
  overflow: hidden;
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  border: solid 1px #ededed;
}
/* line 22, ../scss/helper/_mixin.scss */
.kotak-dua ul {
  margin-top: 10px;
}
/* line 24, ../scss/helper/_mixin.scss */
.kotak-dua ul li {
  line-height: 20px;
}
/* line 26, ../scss/helper/_mixin.scss */
.kotak-dua ul li a {
  color: #444;
  display: inline-table;
}
/* line 296, ../scss/style.scss */
.kotak-dua h2 {
  color: #3a9c53;
  border-bottom: solid #ec8621 2px;
}
/* line 303, ../scss/style.scss */
.kotak-dua a.tombol {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #ec8621;
  padding: 5px 10px;
  font-style: italic;
  float: right;
}
/* line 11, ../scss/helper/_mixin.scss */
.kotak-dua a.tombol:hover {
  background: #c96d11;
}

/* line 309, ../scss/style.scss */
#polling {
  margin-bottom: 15px;
}
/* line 310, ../scss/style.scss */
#polling h4 {
  font-weight: normal;
  line-height: 20px;
  margin: 10px 0;
}
/* line 316, ../scss/style.scss */
#polling input[type=radio] {
  margin-bottom: 10px;
}
