// import compass css3
@import 'compass';

// !library
@import 'lib/zeen';

// variable dan mixin
@import 'helper/variable';
@import 'helper/mixin';


// !UMUM
@import 'style/general';

// style utama;
@import 'style/main';
// responsive style
@import 'style/responsive';

#menu-icon {
    margin: 25px 0;	
	
	a {
		@include transition-duration(0.5s);
		display: block;
		color: #ffffff;
		text-align: center;
		background: #6db025;
		padding: 10px 5px 40px 5px;

		// img {
		// 	width: 64px;
		// 	height: 64px;
		// }

		@include border-radius(5px);


		span{
			@include transition-duration(0.5s);
			@include border-radius(0 0 5px 5px);
			position: absolute;
			left:0;
			right: 0;
			bottom:0;
			padding:10px;
			background: $hijautua;

		}
		&:hover{
			background: $hijautua;
			span{
				background: $hijaumuda;
			}
		}
	}
	
}
// !AKHIR HEADER


// !NAVIGASI
nav {
	color :$putih;
	background : $hijautua;
	border-bottom : $orange solid 5px;

	ul {
		display: block;
		li {			
			// display: inline-table;
			list-style: none;			
			a { 
				// @include transition-duration (0.5s);
				color : $putih;
				padding: 20px 15px;
				text-decoration : none;
				display: inline-table;
				float: left;

				&:hover {
					@include transition-duration (0.5s);
					background : $orange;
				}
			}			
		}		
	}
}
// AKHIR NAVIGASI

// !SECTION
section {
	img.thumb{
		// img {
		float : left;
		display: block;
		width: 150px; height: 150px;
		margin : 0 15px 15px 0;
		// }
	}

	article {
		overflow : hidden;
		margin-bottom : 20px;
		border-bottom : dashed 1px darken($abuabumuda,10%);
		
		p {
			margin: 15px 0;
		}


		h2.judul-berita {
			a{ 
				margin : 0;
				color: $hijautua;
	    		font-size: 1em;

	    		&:hover {
	    			text-decoration: underline;
	    		}			
			}		 
		}
		
		h4 {
			color: $abuabu; 
			margin: 0;
			font-weight: normal;
		}

		a {
			margin-bottom: 10px;
			&.tombol{
				@include tombol(#ec8621,#fff,italic,right);
			}		
		}
	}
}
// !AKHIR SECTION


// !ASIDE
.box {
	padding-top : 10px;
	border-top : solid 8px #eee;
	//border-bottom : solid 8px $abuabumuda ;
	background : $putih;	
	overflow : hidden;
	margin-bottom : 30px;
	&#testi{
		background: image-url('quote.png') 0px 20px no-repeat;
		p{
			text-align:left;
			font-style: italic;
			margin-bottom: 10px;
			span{
				display: block;
				font-weight: bold;
				font-style: normal;
				color:$merahtua;
			}
		}

		a{
			font-weight: normal;
		}
		
	}
	article {
		margin : 0;
		display: block;

		// padding-bottom : 10px;ss		
		// float: left;
    	// overflow: hidden;

		h4 {
			color: $merahtua;
			// margin:20px 0 5px 0; 
			float: left;
			//position : absolute;
			display: block;
		}
	    
		p {
			margin-bottom: 10px ;
			width: 100%;
			float: left;
			display: block;
		}
	}
    
    h2 {
    	top : -6px;
        padding-right : 10px;
    	color: $hijautua;
    	display: block;
    	position: absolute;
    	background : $putih;
    	float: left;
    }

    a {
    	color : $hijautua;

    	font-weight:bold ;
    	//display: block;
        float: right;

        &:hover {
        	text-decoration: underline;
        }	
    }	

    table{
    	color:#444;
    	font-weight: normal;
    	font-style: 14px;
    }
}
// !AKHIR ASIDE

// !FOOTER
#footeratas {
	padding : 20px 0;
	color : darken($putih, 10%);
	background : #2a2a2a;
	margin-top : 20px;

	li {
		// margin: 3px 0;

		a {
			@include transition-duration(0.5s);
			display: block;
			line-height: 1.5em;
			font-size: 14px;
			color : darken($putih, 10%);
			&:hover
			{
				color: $orange;
			}
		}
	}
}

#footerbawah {
	background : $hijaumuda;
	padding : 10px 0;
	color : $putih;
}

#kontak {
	h2 {
		font-size: 18px;
	}

	h1 {
		font-size: 30px;
	}
}
// !AKHIR FOOTER 


// !WIDGET
.kotak-satu {
	@include kotak($putih,0 0 15px 0);
	h2 {
		color: $putih;
		//font-size: 13px;
		text-align: center;
		padding : 10px;
		background : $hijautua;
	}

	li a:hover{
		color:$hijautua;
	}	
}

.kotak-dua {
	@include kotak($abuabumuda,15px);
	@include border-radius(5px);
	overflow : hidden;
	
	border : solid 1px darken($abuabumuda,5%);
	h2 {
		color: $hijautua;
		//font-size: 18px;
		border-bottom : solid $orange 2px;
	}	

	a{ 
		&.tombol{
			@include tombol(#ec8621,#fff,italic,right);
		}
	}	
}

#polling {
	h4 {
		font-weight: normal;
		line-height: 20px;
		margin: 10px 0;
	}

	input[type=radio] {
		margin-bottom: 10px;
	}

	margin-bottom : 15px;
}
// AKHIR WIDGET

