body {
	font-family : 'arial', sans-serif; 
	font-size : 13px;
	font-weight : 300;
	
}

h1,h2,h3,h4,a,ul,li,p {
	margin : 0;
	padding : 0;
	display : block;
	// text-decoration: none;
}


h1,h2,h3 {
	//letter-spacing : -1px;
}

h2 {
	font-size : 18px;
}

h3 {
	font-size : 16px;
} 

h4 {
	font-size : 13px;
}

article { 
	h2 {
		letter-spacing : -0.5px;		
	}
}

a { 
	color : $putih;
	font-size: 13px;
	text-decoration : none;
	// display : block;
}

li {
	list-style : none;
}

ul, li {
display : block;	
}

p {
	text-align : justify;
	font-size: 14px;
	line-height: 1.5em;
}


// !WIDGET
.kotak-satu {
	@include kotak($putih,0 0 10px 0);
	h2 {
		color: $putih;
		font-size: 13px;
		// text-align: center;
		padding : 5px 10px;
		background : $hijautua;
	}
	li{
		padding-left:10px;
		list-style-type: square !important;
	}
	li a:hover{
		color:$hijautua;
	}	
}

.kotak-dua {
	@include kotak($abuabumuda,10px);
	// @include border-radius(5px);
	overflow : hidden;
	
	border : solid 1px darken($abuabumuda,5%);
	h2 {
		color: $hijautua;
		font-size: 14px ;
		padding-bottom: 5px ;
		border-bottom : solid $orange 1px;
	}	

	a{ 
		&.tombol{
			@include tombol(#ec8621,#fff,normal,right);
		}
	}	
}

#polling {
	h4 {
		font-weight: normal;
		line-height: 20px;
		margin: 10px 0;
	}

	input[type=radio] {
		margin-bottom: 10px;
	}

	margin-bottom : 15px;
}
// AKHIR WIDGET

/* ----------------------------------------------------------------------------------------------------------------------------
== USER INTERACTIONS
** ---------------------------------------------------------------------------------------------------------------------------- */

/* SEARCH
------------------------------------------------------------------------------------------------------------------------------- */

.search a:before {
    width:6px;
    height:6px;
    border:3px solid #c55500;
    background:transparent;
    /* css3 */
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    border-radius:12px;
}

.search a:after {
    left:10px;
    width:3px;
    height:7px;
    margin-top:0;
    /* css3 */
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

.search a:hover:before,
.search a:focus:before,
.search a:active:before {
    border-color:#730800;
    background:transparent;
}

.search a:hover:after,
.search a:focus:after,
.search a:active:after {
    background:#730800;
}





