// !HEADER

header {
	background: transparent image-url('top-bg.png') center right no-repeat;
	padding:15px 0;
	img{
		float: left;
		height: 70px;
		margin-right: 15px;
	}
	h1 {
		color: #444;
		font-size: 17px;
		span{
			display: block;
			color:$hijautua;
			font-size: 30px;
		}
	}
	h3 {
		color: $merahtua;
		font-style: italic;
	}
}

#menu-icon {
    margin: 25px 0;	
	
	a {
		@include transition-duration(0.5s);
		display: block;
		color: #ffffff;
		text-align: center;
		background: #6db025;
		padding: 10px 5px 40px 5px;
		span{
			@include transition-duration(0.5s);
			position: absolute;
			left:0;
			right: 0;
			bottom:0;
			padding:10px;
			background: $hijautua;
		}
		&:hover{
			background: $hijautua;
			span{
				background: $hijaumuda;
			}
		}
	}
	
}
// !AKHIR HEADER


// !NAVIGASI
nav {
	color :$putih;
	background : $hijautua;
	border-bottom : $orange solid 5px;
	
    a {
		padding: 15px 10px;
		display: block;
		color: $putih;
		background : $hijautua;

		&:hover {
			@include transition-duration(0.5s);
			background : $orange;
		}

	}

	ul:after {
		content:" ";
		display: block;
		clear:both;
	}
	
	ul {
		
		z-index: 999;

		li {
			float: left;
			position :relative;
			display: block;

			&:hover > ul {
				display: block;
			}

			ul {
				border-top : $orange solid 5px;	
				white-space: nowrap;	
				background : $hijautua;
				position:absolute;
				top: 100%;
				display: none;
				box-shadow: -3px 3px 10px -2px rgba(0,0,0,.4);			
				
				li {
					float:none;
					
					ul {
						border-top : $orange solid 5px;	
						white-space: nowrap;		
						position: absolute;
						left: 100%;
						top:0;					
					}
				}
			}		

		}
	}

}
// AKHIR NAVIGASI

// !SECTION
section {
	img.thumb{
		// img {
		float : left;
		display: block;
		width: 150px; height: 150px;
		margin : 0 15px 15px 0;
		// }
	}

	article {
		overflow : hidden;
		margin-bottom : 20px;
		border-bottom : dashed 1px darken($abuabumuda,10%);
		
		p {
			margin: 15px 0;
		}

		h2.judul-berita {
			a{ 
				margin : 0;
				color: $hijautua;
	    		font-size: 1em;

	    		&:hover {
	    			text-decoration: underline;
	    		}			
			}		 
		}
		
		h4 {
			color: $abuabu; 
			margin: 0;
			font-weight: normal;
		}

		a {
			margin-bottom: 10px;
			&.tombol{
				@include tombol(#ec8621,#fff,normal,right);
			}		
		}
	}
}
// !AKHIR SECTION


// !ASIDE
.box {
	// background : $putih;	
	overflow : hidden;
	margin-bottom : 30px;
	position: relative;

	&:after{
		position: absolute;
		content: "";
		background: #ccc;
		width: 100%;
		height: 8px;
		display: block;
		top: 5px;
		z-index: -1;
	}
	&#testi{
		background: image-url('quote.png') 0px 20px no-repeat;
		p{
			text-align:left;
			font-style: italic;
			margin-bottom: 10px;
			span{
				display: block;
				font-weight: bold;
				font-style: normal;
				color:$merahtua;
			}
		}

		a{
			font-weight: normal;
		}
		
	}
	section{
		display: block;
		clear:both;
	}

    
    h2 {
    	position: relative;
    	float: left;
        padding-right : 10px;
    	color: $hijautua;
    	display: block;
    	background : $putih;
    	// @include pie-clearfix;
    	&:after{
    		clear: both;
    		content:"";
    		display: block;
    		margin-bottom: 5px;
    	}
    }

    a {
    	color : $hijautua;

    	font-weight:bold ;
    	//display: block;
        float: right;

        &:hover {
        	text-decoration: underline;
        }	
    }	

    table{
    	color:#444;
    	font-weight: normal;
    	font-style: 14px;
    }
}
// !AKHIR ASIDE

// !FOOTER
#footeratas {
	padding : 20px 0;
	color : darken($putih, 10%);
	background : #2a2a2a;
	margin-top : 20px;

	[class*="zeen"]{
		@include box-shadow(1px 0 0 #444);
		&:last-child{
			@include box-shadow(0 0 0 #ccc);
		}
	}

	li {
		a {
			@include transition-duration(0.5s);
			display: block;
			line-height: 24px;
			// font-size: 13px !important;
			color : lighten(#444,30%);
			&:hover
			{
				color: $putih;
			}
		}
	}
}

#footerbawah {
	background : $hijaumuda;
	padding : 10px 0;
	color : $putih;
	p{
		font-size: 13px;
	}

}

#kontak {
	color:#fff;
	img{
		float: left;
		height: 100px;
		margin-right: 10px;
		margin-bottom: 40px;
	}
	h2 {
		font-size: 13px;
		color : lighten(#444,30%);
		margin-bottom: 5px;
	}

	h1 {
		font-size: 27px;
		margin-bottom: 15px;
	}
	p{
		font-size: 12px;
		color : lighten(#444,30%);
	}
}
// !AKHIR FOOTER 