@import 'helper/variable';
//responsive zeengrid 
@media only screen and (max-width: 767px) {
	.kotak-dua {
		margin-bottom: 15px;
	}

	#menu-icon{
		img{
			display: none;
		}
		a{
			vertical-align: middle;
			margin-bottom: 15px;
			padding:10px 0;
			background: #3a9c53;
			span{
				position: relative;
			}
			&:hover{
				background: $hijaumuda;
			}
		}
	}

	.zeen-2{
		width:50% !important;
		float:left;
		&:nth-child(even){

			a{
				margin-left: 10px;
			}
		}
		&:nth-child(odd){

			a{
				margin-right: 10px;
			}
		}
	}
}
