@import '../helper/variable';
//responsive zeengrid 
@media only screen and (max-width: 767px) {
	.kotak-dua {
		margin-bottom: 15px;
	}

	#menu-icon{
		img{
			display: none;
		}
		a{
			margin-bottom: 15px;
			padding:10px 0 !important;
			span{
				position: relative !important;
				margin-bottom: 15px;

				background: transparent !important;

			}
		}
	}

	.zeen-2{
		width:50% !important;
		float:left;
		&:nth-child(even){

			a{
				margin-left: 10px;
			}
		}
		&:nth-child(odd){

			a{
				margin-right: 10px;
			}
		}
	}
}
