@mixin tombol($bg:#444,$font:#fff,$style:normal,$float:left){
	// display: block;
	@include transition-duration(0.5s);
	background: $bg;
	padding:5px 10px;
	font-style: $style;
	float: $float;
	&:hover{
		background: darken($bg, 10%)
	}
}


@mixin kotak($bg,$pad){
	background: $bg;
	padding:$pad;
	overflow: hidden;
	display: block;

	ul{
		margin-top: 10px;
		li{
			line-height: 20px;
			a{
				color:#444;
			}
		}
	}
}