@media only screen and (max-width: 767px) {
  /* line 4, ../../scss/style/responsive.scss */
  .kotak-dua {
    margin-bottom: 15px;
  }

  /* line 9, ../../scss/style/responsive.scss */
  #menu-icon img {
    display: none;
  }
  /* line 12, ../../scss/style/responsive.scss */
  #menu-icon a {
    vertical-align: middle;
    margin-bottom: 15px;
    padding: 10px 0;
    background: #3a9c53;
  }
  /* line 17, ../../scss/style/responsive.scss */
  #menu-icon a span {
    position: relative;
  }
  /* line 20, ../../scss/style/responsive.scss */
  #menu-icon a:hover {
    background: #6db025;
  }

  /* line 26, ../../scss/style/responsive.scss */
  .zeen-2 {
    width: 50% !important;
    float: left;
  }
  /* line 31, ../../scss/style/responsive.scss */
  .zeen-2:nth-child(even) a {
    margin-left: 10px;
  }
  /* line 37, ../../scss/style/responsive.scss */
  .zeen-2:nth-child(odd) a {
    margin-right: 10px;
  }
}
