/*
Error: Undefined variable: "$hijautua".
        on line 12 of /Users/muslih/Documents/project/2014/sambang-lihum/scss/style/responsive.scss

7: 		}
8: 		a{
9: 			vertical-align: middle;
10: 			margin-bottom: 15px;
11: 			padding:10px 0;
12: 			background: $hijautua;
13: 			span{
14: 				position: relative;
15: 			}
16: 			&:hover{
17: 				background: $hijaumuda;

Backtrace:
/Users/muslih/Documents/project/2014/sambang-lihum/scss/style/responsive.scss:12
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/script/tree/node.rb:50:in `perform'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:384:in `visit_prop'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/stack.rb:79:in `block in with_base'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/stack.rb:115:in `with_frame'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/stack.rb:79:in `with_base'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/stack.rb:79:in `block in with_base'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/stack.rb:115:in `with_frame'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/stack.rb:79:in `with_base'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:420:in `block (2 levels) in visit_rule'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:420:in `map'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:420:in `block in visit_rule'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:418:in `visit_rule'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/stack.rb:79:in `block in with_base'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/stack.rb:115:in `with_frame'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/stack.rb:79:in `with_base'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:502:in `visit_media'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/stack.rb:79:in `block in with_base'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/stack.rb:115:in `with_frame'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/stack.rb:79:in `with_base'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/tree/root_node.rb:20:in `render'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/engine.rb:268:in `render'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:491:in `update_stylesheet'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:209:in `each'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:469:in `on_file_changed'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/sass-3.4.6/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:276:in `call'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:276:in `_process_changes'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:233:in `block in _wait_for_changes'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:216:in `loop'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:216:in `_wait_for_changes'
/Users/muslih/.rvm/gems/ruby-2.1.2/gems/listen-2.7.9/lib/listen/listener.rb:312:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$hijautua\".\A         on line 12 of /Users/muslih/Documents/project/2014/sambang-lihum/scss/style/responsive.scss\A \A 7: 		}\A 8: 		a{\A 9: 			vertical-align: middle;\A 10: 			margin-bottom: 15px;\A 11: 			padding:10px 0;\A 12: 			background: $hijautua;\A 13: 			span{\A 14: 				position: relative;\A 15: 			}\A 16: 			&:hover{\A 17: 				background: $hijaumuda;"; }
